h1 {
    color: rgb(0, 0, 0);
    font-size: 4em;
}
#everything {
    background-color: #000000;
}
ul {
    list-style: none;
    padding: 0;
}

/**** Left Sidebar ****/

#left-col {
    color: #c70000;
    height: 100vh;
    width: 40em;
    text-align: center;
}
#name {
    color: #ffffff;
    font-size: 2em;
}
#occupation {
    color: #ffffff;
    font-size: 2em;
}
#pic {
    border-radius: 80%;
}

/**** Right Sidebar ****/

#name0 {
    font-size: 4em;
    color: #7c00b4;
}
#email {
    font-size: 2em;
    color: #33ffef;
}
#address {
    font-size: 1em;
    color: #ff6b6b;
}
#education {
    color: #198040;
}
#work {
    color: #3faeff;
}
#co-curricular {
    color: #ffe200;
}
#research {
    color: #ff6c00;
}
#personal {
    color: #7c00b4;
}
#references {
    color: #eb0000;
}
#right {
    color: #ffffff;
}